*,*::before,
*::after {
  margin: 0px;
  padding: 0px;
  display: flexbox;
}
body {
  background-color: rgba(64, 224, 208, 0.199);

}
.App {
  width: 60%;
  margin: 5% auto;
  text-align: center;
}
.simpleform {
  background-color: yellowgreen;
  padding-right: 25px;
  margin-top: 30px;
}
.simpleform label{
  justify-content: center;
}
.toJson {
  margin: 10px;
  width: 100%;
}
#uploadForm {
  margin: 50px;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 600;
}